<div class="layout">
  <div class="message-header">
    <div class="message-header-content">
      <div class="message-header-avatar">
        <span class="message-header-initial">P</span>
      </div>
      <div class="message-header-info">
        <h1 class="message-header-title">POL Smart Report</h1>
        <p class="message-header-subtitle">Real-time report</p>
      </div>
    </div>
  </div>
  <div class="layout-content">
    <div class="main-content">
      <app-chat></app-chat>
    </div>
    <div class="sidebar">
      <app-recent-files></app-recent-files>
    </div>
  </div>
</div>
